<div class="container">
  <div class="card">
    <div class="title-header">
      <h1 class="title">Get in the club!</h1>
    </div>
    <form class="login-form" [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field appearance="fill" class="login-full-width">
        <mat-label>Username or email</mat-label>
        <input matInput id="username" type="text" formControlName="user" />
        <mat-error *ngIf="user.invalid && user.touched">
          Username is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="login-full-width">
        <mat-label>Password</mat-label>
        <input matInput id="password" type="password" formControlName="password" />
        <mat-error *ngIf="password.invalid && password.touched">
          Password is required
        </mat-error>
      </mat-form-field>
      <div class="options">
        <a href="#" class="link">Forgot password?</a>
        <a href="#" class="link">Create an account</a>
      </div>
      <button mat-raised-button class="login-full-width" color="primary" type="submit"
        [disabled]="form.invalid">Login</button>
      <div class="socials">
        <a href="#" class="icon facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="icon twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" class="icon google"><i class="fab fa-google"></i></a>
      </div>
    </form>
  </div>
  <div class="attribution">
    Image by <a
      href="https://pixabay.com/users/tookapic-1386459/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=931975">
      tookapic </a> from <a
      href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=931975">
      Pixabay</a>
  </div>
</div>