<div class="container">
  <div class="card">
    <div class="title-header">
      <h1 class="title">Join the club now!</h1>
    </div>
  <div>
    <form class="sign-up-form" [formGroup]="form" (ngSubmit)="createMember()">
      <mat-form-field class="sign-up-full-width">
        <mat-label>Enter your phone number</mat-label>
        <span matPrefix>+91 &nbsp;</span>
        <input type="tel" [formControl]="phoneno" matInput placeholder="1234567890" />
        <mat-error *ngIf="phoneno.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
      <div class="full-name sign-up-full-width">
        <mat-form-field appearance="fill" class="sign-up-full-width">
          <mat-label>First Name</mat-label>
          <input matInput id="firstName" type="text" formControlName="firstName" />
          <mat-error *ngIf="firstName.invalid && firstName.touched">First name is required</mat-error>
        </mat-form-field>
        <span class="name-spacer"></span>
        <mat-form-field appearance="fill" class="sign-up-full-width">
          <mat-label>Last Name</mat-label>
          <input matInput id="lastName" type="text" formControlName="lastName" />
          <mat-error *ngIf="lastName.invalid && lastName.touched">Last name is required</mat-error>
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill" class="sign-up-full-width">
        <mat-label>Username</mat-label>
        <input matInput id="username" type="text" formControlName="username" />
        <mat-error *ngIf="username.invalid && username.touched">
          Username is required and must be at least 3 characters long
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="sign-up-full-width">
        <mat-label>Email</mat-label>
        <input matInput id="email" type="email" formControlName="email" />
        <mat-error *ngIf="email.invalid && email.touched">Email is required and must be valid</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="sign-up-full-width">
        <mat-label>Password</mat-label>
        <input matInput id="password" type="password" formControlName="password" />
        <mat-error *ngIf="password.invalid && password.touched">
          Password is required and must be at least 8 characters long
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="sign-up-full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput id="confirmPassword" type="password" formControlName="confirmPassword" />
        <mat-error *ngIf="confirmPassword.invalid && confirmPassword.touched">
          Confirm password is required and must match the password
        </mat-error>
      </mat-form-field>
      <div class="options">
        <p>Already part of the club? <a routerLink="../login" class="link">Sign in</a></p>
      </div>
      <button mat-raised-button class="sign-up-full-width" color="primary" type="submit" [disabled]="form.invalid">Sign Up</button>
      <div class="socials">
        <a href="#" class="icon facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="icon twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" class="icon google"><i class="fab fa-google"></i></a>
      </div>
    </form>
  </div>
  <div class="attribution">
    Image by <a
      href="https://pixabay.com/users/tookapic-1386459/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=931975">
      tookapic </a> from <a
      href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=931975">
      Pixabay</a>
  </div>
</div>
