.example-spacer {
    flex: 1 1 auto;
  }

  div {
    display: flex;
    align-items: center;
  }

  .sign-up-form {
    margin: 50px;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .sign-up-full-width {
    width: 100%;
  }

  .full-name {
    display: flex;
  }

  .name-spacer {
    width: 20px;
  }

  td {
    padding-right: 8px;
  }
  
/* Background styles */
.container {
  background-image: url('/assets/images/fans-stadium.jpg');
  background-position: center;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  height: 100%;
  flex-direction: column;
}

/* Glassmorphism card effect */
.card {
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  margin: 40px auto;
  max-width: 400px;
  padding: 40px;
  flex-direction: column;
}

/* Title styles */
.title {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
}

/* Form styles */
.form {
  display: flex;
  flex-direction: column;
}

/* Field styles */
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
}

/* Input styles */
input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  color: #223254;
  font-size: 18px;
  height: 50px;
  outline: none;
  transition: border-color 0.3s;
}

/* Input focus styles */
input:focus {
  border-bottom-color: #3d5af1;
}

/* Input placeholder styles */
input::placeholder {
  color: transparent;
}

/* Label styles */
label {
  color: #8d96a8;
  font-size: 16px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
}

/* Label focus styles */
input:focus+label,
input:not(:placeholder-shown)+label {
  color: #3d5af1;
  font-size: 12px;
  top: 0;
  transform: translateY(-50%);
}

/* Options styles */
.options {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

/* Link styles */
.link {
  color: black;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

/* Link hover styles */
.link:hover {
  color: #3d5af1;
  text-decoration: underline;
}

/* Socials styles */
.socials {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Icon styles */
.icon {
  background-color: #e0e0e0;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin: 0 5px;
  width: 40px;
}

/* Icon hover styles */
.icon:hover {
  background-color: #3d5af1;
}

/* Facebook icon styles */
.facebook {
  background-color: #3b5998;
}

/* Twitter icon styles */
.twitter {
  background-color: #1da1f2;
}

/* Google icon styles */
.google {
  background-color: #db4437;
}