<mat-tab-group headerPosition="below" [selectedIndex]="selectedNews.value"
    (selectedIndexChange)="selectedNews.setValue($event)">
    <mat-tab *ngFor="let news of newsList; index as i" label="">
        <ng-template mat-tab-label>
            <div class="label-card" style="flex-direction: column;" (mouseover)="changeSlide(i)">
                {{news.title}}
            </div>
        </ng-template>
        <div class="news-content">
            <div class="news-image" style="background-image: url('{{news.image}}')"></div>
            <p>{{news.summary}}</p>
        </div>
    </mat-tab>
</mat-tab-group>
<mat-divider></mat-divider>
<h1 style="margin: 30px 0px 30px 30px; font-size: xx-large;">Latest Videos</h1>
<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let video of videoList">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title>{{video.title}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{video.thumbnail}}" />
            <mat-card-actions>
                <button mat-button routerLink="videos">Watch</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<mat-divider></mat-divider>