div {
  display: flex;
  align-items: center;
}

.sign-up-form {
  margin: 50px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

mat-progress-bar {
  padding-top: 10px;
}

td {
  padding-right: 8px;
}

.content {
  padding: 16px;
  justify-content: space-evenly;
}

mat-card {
  margin-bottom: 16px;
  width: 450px;
  mat-card-header {
    height: 80px;
  }
  img {
    align-self: center;
    height: 250px;
    width: 425px;
  }
}

.news-content {
  flex-direction: column;
  height: 650px;
}

.news-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
}
