<mat-drawer-container class="example-container">
    <mat-drawer #drawer [mode]="'side'">
        <div class="nav-logo">
            <img src="assets/images/hcclogo.png" alt="" routerLink="index">
        </div>
        <mat-nav-list>
            <a *ngFor="let nav of contents" mat-list-item [routerLink]="nav.link" class="menu-item">
                <mat-icon>{{nav.icon}}</mat-icon> {{nav.title}}
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar style="background-color: #880e4f; color: aliceblue">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
                (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="title-logo"> HARLEQUINS CC</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon" aria-label="Login icon-button with icon" routerLink="../login">
                <mat-icon>login</mat-icon>
            </button>
            <button *ngIf="signedIn" class="example-icon" aria-label="Login icon-button with icon">
                <mat-icon>logout</mat-icon>
            </button>
        </mat-toolbar>
        <router-outlet></router-outlet>

        <mat-toolbar style="background-color: #880e4f; color: aliceblue">
            <span>© 2023 Harlequins Cricket Club. All rights reserved.</span>
        </mat-toolbar>
    </mat-drawer-content>
</mat-drawer-container>
