@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.example-spacer {
    flex: 1 1 auto;
}

mat-drawer {
    width: 15%;
}

.nav-logo img {
  width: 100%;
  height: 100%;
}

.example-icon {
  font-size: larger;
}

.title-logo {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 900;
  font-size: larger;
}
